.my-wrapper {
    width: 1530px;
    height: auto;
    margin: 0 auto;
    position: relative;
    border: 1px solid red;
}

/* .my-carousel {
    min-height: 300px;
} */

/* @media (max-width: 768px) {
    .my-wrapper {
        width: 375px;
        width: 100%;
    }
} */
