.wc-control {
    margin: 0 auto;
    position: relative;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    transform: translateZ(0);
}

.wc-track {
    transform: translateZ(0);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 1;
}

.wc-control.draggable {
    user-select: none;
    cursor: -webkit-grab;
    cursor: grab;
}

.wc-control.draggable .wc-slide img {
    user-select: none;
    pointer-events: none;
}

.wc-control.drag {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.wc-drag-area {
    display: block;
    width: 70px;
    height: 6px;
    margin: 10px auto;
    background: lightgray;
    border-radius: 10px;
    position: relative;
}

.wc-drag-area [id^="wc-drag"] {
    background-color: rgb(64, 69, 83);
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.wc-slide {
    user-select: none;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-width: 150px;
    display: flex;
}

.wc-slide img {
    max-width: 100%;
}

[class^="wc-prev"],
[class^="wc-next"] {
    user-select: none;
    position: absolute;
    outline: none;
    padding: 0;
    z-index: 2;
    font-size: 40px;
    text-decoration: none;
    left: -23px;
    border: 0;
    top: 40%;
    cursor: pointer;
    color: #666;
    transition: opacity .5s cubic-bezier(.17, .67, .83, .67),
        color .5s cubic-bezier(.17, .67, .83, .67);

    --radius: 44px;
    width: var(--radius);
    height: var(--radius);
    line-height: 0;
    border-radius: 50px;
    background: #fff;
    opacity: 0.9;
}

[class^="wc-prev"]:hover,
[class^="wc-next"]:hover,
[class^="wc-prev"]:focus,
[class^="wc-next"]:focus {
    color: #a89cc8;
}

[class^="wc-next"] {
    right: -23px;
    left: auto;
}

[class^="wc-prev"]:before {
    content: url('data:image/svg+xml,<svg width="24" height="24" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.5 12H6M6 12L12 6M6 12L12 18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

[class^="wc-next"]:before {
    content: url('data:image/svg+xml,<svg width="24" height="24" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 12H18.5M18.5 12L12.5 6M18.5 12L12.5 18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

[class^="wc-next"].disabled,
[class^="wc-prev"].disabled {
    display: none;
}

.wc-hide {
    opacity: 0;
}

.wc-dots {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.wc-dot {
    border: 0;
    padding: 0;
    user-select: none;
    outline: none;
    display: block;
    cursor: pointer;
    color: #ccc;
    border-radius: 999px;
    background: #ccc;
    --radius: 10px;
    width: var(--radius);
    height: var(--radius);
    margin: 7px;
}

.wc-dot:hover,
.wc-dot:focus,
.wc-dot.active {
    background: #a89cc8;
}

.wc-control::-webkit-scrollbar {
    opacity: 0;
    height: 0;
}

@media(max-width: 36em) {
    .wc-control::-webkit-scrollbar {
        opacity: 1;
        -webkit-appearance: none;
        width: 7px;
        height: 3px;
    }

    .wc-control::-webkit-scrollbar-thumb {
        opacity: 1;
        border-radius: 99px;
        background-color: rgba(156, 156, 156, 0.25);
        box-shadow: 0 0 1px rgba(255, 255, 255, .25);
    }
}
